@page
@model wireless_changing_system.Pages.Wireless_charging.Auth.forgot_passwordModel
@{
}
<div class="container">
    <div class="forgot-card">
        <h4 class="fw-bold">Find Your Account</h4>
        <p>Please enter your email address or mobile number to search for your account.</p>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="you@example.com">
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success w-50">Submit</button>
                <button type="button" class="btn btn-dark w-50">Cancel</button>
            </div>
        </form>
    </div>
</div>