@page
@model wireless_changing_system.Pages.Wireless_charging.Auth.New_PasswordModel
@{
}

    <div class="container">
        <div class="new-password-card shadow-sm">
            <div class="card-body">
                <h4 class="fw-bold mb-3">Choose a new password</h4>

                <p>
                    Create a new password that is at least 6 characters long.
                    A strong password has a combination of letters, digits,
                    and punctuation marks.
                </p>

                <div class="mb-3">
                    <label for="passwordInput" class="form-label visually-hidden">Password</label>
                    <input type="password"
                           class="form-control"
                           id="passwordInput"
                           placeholder="Enter Password" />
                </div>

                <p class="text-muted mb-3">
                    Password Strength: <span id="passwordStrength"></span>
                </p>

                <div class="text-center">
                    <button type="button" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </div>
