@page
@model wireless_changing_system.Pages.Wireless_charging.Vehicles.AddCarModel
@{
    <div class="container py-4">
        <h1 class="mb-4">Car Registration</h1>

        <div class="card rounded-5 shadow-sm">
            <div class="card-body">
                <div class="mb-4">
                    <label class="form-label fw-bold">Brand</label>
                    <select class="form-select">
                        <option selected>VinFast</option>
                        <option value="1">Other Brand</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label class="form-label fw-bold">License Plate</label>
                    <input type="text" class="form-control" placeholder="Enter license plate" />
                </div>

                <div class="mb-4">
                    <label class="form-label fw-bold">Type</label>
                    <select class="form-select">
                        <option selected>Choose type</option>
                        <option value="SUV">SUV</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Hatchback">Hatchback</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label class="form-label fw-bold">Color</label>: <span>ABC</span>
                   
                </div>

               

                
            </div>
        </div>
    </div>
}